@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3D2783;
  --secondary: #F39200;
  --skyblue: #159FDB;
  --green: #00933A;
  --white: 60 19% 87%;
  --black: #111;
}

html,
body {
  height: 100%;
  background-color: var(--white);
  color: var(--white);
  scroll-behavior: smooth;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}
