@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3d2783;
  --secondary: #f39200;
  --tertiary: #012169;
  --skyblue: #159fdb;
  --green: #00933a;
  --white: #fff;
  --black: #111;
  --gold: #b8860b;
}

html,
body {
  height: 100%;
  background-color: var(--white);
  color: var(--white);
  scroll-behavior: smooth;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}
